# Lập trình Python với MySQL cơ bản

## Bài 1. Kết nối MySQL: Viết chương trình Python kết nối đến cơ sở dữ liệu mydb, với tài khoản root và mật khẩu 123456.

In [22]:
import os
from dotenv import load_dotenv
import pymysql

load_dotenv(".cre-env")

conn = pymysql.connect(
    host=os.getenv("DB_HOST"),
    user=os.getenv("DB_USER"),
    password=os.getenv("DB_PASSWORD"),
    database="w15db"
)

cursor = conn.cursor()

## Bài 2. Tạo bảng sinh viên: Tạo bảng students với các cột:
- id: INT, khóa chính, tự tăng
- name: VARCHAR(100)
- age: INT
- email: VARCHAR(100)

In [13]:
# Tạo bảng
cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100),
    age INT,
    email VARCHAR(100)
)
""")

0

## Bài 3. Thêm dữ liệu mẫu: Viết chương trình thêm ít nhất 3 sinh viên vào bảng.

In [14]:
# Thêm dữ liệu
sql = "INSERT INTO students (name, age, email) VALUES (%s, %s, %s)"
students = [
    ("Nguyen Van A", 20, "a@gmail.com"),          
    ("Nguyen Van B", 22, "b@gmail.com"),          
    ("Tran Thi Anh", 19, "anh@gmail.com"),        
    ("Le Hoang Minh", 18, "minh@gmail.com"),      
    ("Pham Thi Linh", 21, "linh@gmail.com"),      
    ("Do Van Cuong", 25, "cuong25@gmail.com"),    
    ("Nguyen Van Tien", 30, "tien30@gmail.com")   
]

for val in students:
    cursor.execute(sql, val)

conn.commit()

## Bài 4. Truy vấn dữ liệu: In ra toàn bộ danh sách sinh viên có tuổi từ 18 đến 22.

In [15]:
# Truy vấn dữ liệu
cursor.execute("SELECT * FROM students WHERE age > 17 AND age < 23;")
result = cursor.fetchall()

for row in result:
    print(row)

(2, 'Nguyen Van A', 20, 'a@gmail.com')
(3, 'Nguyen Van B', 22, 'b@gmail.com')
(4, 'Tran Thi Anh', 19, 'anh@gmail.com')
(5, 'Le Hoang Minh', 18, 'minh@gmail.com')
(6, 'Pham Thi Linh', 21, 'linh@gmail.com')

## Bài 5. Cập nhật dữ liệu: Cập nhật email của sinh viên tên “Nguyen Van B” thành “nguyenb@gmail.com”.

In [16]:
cursor.execute("UPDATE students SET email = 'nguyenb@gmail.com' WHERE name = 'Nguyen Van B'")
conn.commit()

## Bài 6. Xóa dữ liệu: Xóa toàn bộ sinh viên có tuổi lớn hơn 25.

In [17]:
cursor.execute("DELETE FROM students WHERE age > 25")
conn.commit()

## Bài 7. Tìm kiếm nâng cao: Tìm tất cả sinh viên có tên chứa từ khóa “Anh”.

In [18]:
cursor.execute("SELECT * FROM students WHERE name LIKE '%anh%'")
result = cursor.fetchall()

for row in result:
    print(row)

(4, 'Tran Thi Anh', 19, 'anh@gmail.com')

## Bài 8. Tổng hợp nâng cao (Tuỳ chọn): Đếm số lượng sinh viên theo từng độ tuổi.

In [23]:
cursor.execute("SELECT age, count(*) FROM students GROUP BY age;")
result = cursor.fetchall()

for row in result:
    print(row)

(20, 1)
(22, 1)
(19, 1)
(18, 1)
(21, 1)
(25, 1)

In [24]:
# Close Connection
cursor.close()
conn.close()