# TẠO BẢNG PRODUCT

In [4]:
import sqlite3

connection = sqlite3.connect('../db/db.sqlite')
cursor = connection.cursor()

In [ ]:
# Tạo bảng PRODUCT:
cursor.execute("""
CREATE TABLE PRODUCT (
    ID INT PRIMARY KEY,
    NAME TEXT NOT NULL,
    PRICE INT NOT NULL              
);
""")

# Insert data mới
cursor.execute("""
INSERT INTO PRODUCT(ID, NAME, PRICE)
VALUES
    (1, 'iPhone 15', 18000000),
    (2, 'Galaxy Z-Fold 5', 30000000);
""")

connection.commit()

In [5]:
import pandas as pd
# Lấy tất cả data từ bảng PRODUCT
data = pd.read_sql_query("SELECT * FROM PRODUCT", connection)
print(data)

   ID             NAME     PRICE
0   1        iPhone 15  18000000
1   2  Galaxy Z-Fold 5  30000000

In [6]:
# update PRICE của Galaxy
cursor.execute("""
UPDATE PRODUCT
SET PRICE = 50000000
WHERE ID = 2;
""")

connection.commit()
data = pd.read_sql_query("SELECT * FROM PRODUCT", connection)
print(data)

   ID             NAME     PRICE
0   1        iPhone 15  18000000
1   2  Galaxy Z-Fold 5  50000000

In [7]:
# Xóa iPhone 15
cursor.execute("""
DELETE FROM PRODUCT 
WHERE ID = 1;
""")

connection.commit()
data = pd.read_sql_query("SELECT * FROM PRODUCT", connection)
print(data)

   ID             NAME     PRICE
0   2  Galaxy Z-Fold 5  50000000