In [6]:
import sqlite3

connection = sqlite3.connect('db/db.sqlite')
cursor = connection.cursor()

In [7]:
# Tạo bảng CUSTOMERS:
cursor.execute("""
CREATE TABLE CUSTOMERS (
    EMAIL TEXT PRIMARY KEY,
    NAME TEXT NOT NULL,
    PHONE TEXT NOT NULL              
);
""")

# Insert data mới
cursor.execute("""
INSERT INTO CUSTOMERS(EMAIL, NAME, PHONE)
VALUES
    ('nguyen@aivienam.edu.vn', 'Nguyen', '123456789'),
    ('admin@aivietnam.edu.vn', 'Vinh', '1122334455');
""")

connection.commit()

OperationalError: table CUSTOMERS already exists

In [8]:
import pandas as pd
# Lấy tất cả data từ bảng CUSTOMER
data = pd.read_sql_query("SELECT * FROM CUSTOMERS", connection)
print(data)

                    EMAIL    NAME       PHONE
0  nguyen@aivienam.edu.vn  Nguyen   123456789
1  admin@aivietnam.edu.vn    Vinh  1122334455

In [13]:
# update name của email: 'nguyen@aivietnam.edu.vn'
cursor.execute("""
UPDATE CUSTOMERS
SET EMAIL = 'nguyen@aivietnam.edu.vn'
WHERE EMAIL = 'nguyen@aivienam.edu.vn';
""")

connection.commit()

data1 = pd.read_sql_query("SELECT * FROM CUSTOMERS", connection)
print(data1)

                     EMAIL          NAME       PHONE
0  nguyen@aivietnam.edu.vn  Hoang Nguyen   123456789
1   admin@aivietnam.edu.vn          Vinh  1122334455

In [14]:
cursor.execute("""
DELETE FROM CUSTOMERS 
WHERE EMAIL = 'nguyen@aivietnam.edu.vn';
""")

connection.commit()
data1 = pd.read_sql_query("SELECT * FROM CUSTOMERS", connection)
print(data1)

                    EMAIL  NAME       PHONE
0  admin@aivietnam.edu.vn  Vinh  1122334455

# TẠO BẢNG PRODUCT

In [15]:
# Tạo bảng PRODUCT:
cursor.execute("""
CREATE TABLE PRODUCT (
    ID INT PRIMARY KEY,
    NAME TEXT NOT NULL,
    PRICE INT NOT NULL              
);
""")

# Insert data mới
cursor.execute("""
INSERT INTO PRODUCT(ID, NAME, PRICE)
VALUES
    (1, 'iPhone 15', 18000000),
    (2, 'Galaxy Z-Fold 5', 30000000);
""")

connection.commit()

In [ ]:
import pandas as pd
# Lấy tất cả data từ bảng PRODUCT
data = pd.read_sql_query("SELECT * FROM CUSTOMERS", connection)
print(data)

# TẠO BẢNG PRODUCT - v2

In [17]:
# Tạo bảng CUSTOMERS:
cursor.execute("""
CREATE TABLE PRODUCT2 (
    ID INT PRIMARY KEY,
    NAME TEXT NOT NULL,
    BRAND TEXT NOT NULL,
    PRICE INT NOT NULL               
);
""")

# Insert data mới
cursor.execute("""
INSERT INTO PRODUCT2(ID, NAME, BRAND, PRICE)
VALUES
    (1, 'iPhone 15', 'Apple', 18000000),
    (2, 'Galaxy Z-Fold 5', 'Samsung', 30000000),
    (3, 'Find X', 'Oppo', 20000000),
    (4, 'iPhone 14', 'Apple', 16000000),
    (5, 'Galaxy Z-Flip', 'Samsung', 17000000),
    (6, 'iPhone 15 Pro Max', 'Apple', 48000000);
""")

connection.commit()

In [18]:
data = pd.read_sql_query("SELECT * FROM PRODUCT2", connection)
print(data)

   ID               NAME    BRAND     PRICE
0   1          iPhone 15    Apple  18000000
1   2    Galaxy Z-Fold 5  Samsung  30000000
2   3             Find X     Oppo  20000000
3   4          iPhone 14    Apple  16000000
4   5      Galaxy Z-Flip  Samsung  17000000
5   6  iPhone 15 Pro Max    Apple  48000000

In [19]:
query = """
SELECT SUM(price) AS total_revenue
FROM PRODUCT2;
"""

data_sum = pd.read_sql_query(query, connection)
print(data_sum)

   total_revenue
0      149000000

In [20]:
query = """
SELECT NAME, MAX(price) AS PRICE
FROM PRODUCT2;
"""

data_max = pd.read_sql_query(query, connection)
print(data_max)

                NAME     PRICE
0  iPhone 15 Pro Max  48000000

In [21]:
query = """
SELECT BRAND, SUM(price) AS total_revenue
FROM PRODUCT2
GROUP BY BRAND;
"""

data_sum_by_brand = pd.read_sql_query(query, connection)
print(data_sum_by_brand)

     BRAND  total_revenue
0    Apple       82000000
1     Oppo       20000000
2  Samsung       47000000

In [23]:
query = """
SELECT NAME, BRAND, MIN(price) AS PRICE
FROM PRODUCT2
GROUP BY BRAND;
"""

data_min_by_brand = pd.read_sql_query(query, connection)
print(data_min_by_brand)

            NAME    BRAND     PRICE
0      iPhone 14    Apple  16000000
1         Find X     Oppo  20000000
2  Galaxy Z-Flip  Samsung  17000000